<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<app-cart></app-cart>   

<h2>Available products info : </h2>
<div *ngFor="let product of products">
  <ul>
    <li>
      <h2>Name : {{product.name}}</h2>
    </li>
    <li>
      <h3>Description : {{product.description}}</h3>
    </li>
    <li>
      <h3>Price : {{product.price}}</h3>
    </li>
    <li>
      <h3>Available in store : <div *ngIf="product.isAvailable; then thenBlock else elseBlock"></div>   
        <ng-template #thenBlock>Available</ng-template>  
        <ng-template #elseBlock>Not Available</ng-template>
      </h3> 
    </li>
    <li>
      <h3>Category : {{product.category}}</h3>
    </li>
    <li>
      <h3>Ingredients :</h3>
      <div *ngFor="let ingredient of product.ingredients">
        {{ingredient}}
      </div>
    </li>
    <li>
      <h3>Equivalents :</h3>
      <div *ngFor="let equivalent of product.equivalents">
        {{equivalent}}
      </div>
    </li>
  </ul>
<button (click)="onBuy(product.name)">Buy now!</button>
</div>


