<div *ngIf="cartProducts.length > 0" >
<div>
  <h2>Products In Cart:</h2>
</div>
    <div appFontSize="30px">Total Cost : {{cartProductsCost | currency:'UAH':false}}</div>
    <div appFontSize="20px">Products in Cart : {{cartProductsCount}}</div>
    <button class="btn-clear" (click)="clearCart()">Clear cart</button>
    <table >
        <tr>
          <th style="width:130px">Name</th>
          <th style="width:130px">Price</th>
          <th style="width:130px">Quantity</th>
          <th style="width:170px">Actions</th>
        </tr>
    </table>
    <app-cart-item *ngFor="let product of cartProducts | order :'name':true" [product]="product" (updateTotals)="updateTotals($event)"></app-cart-item>
</div> 
